<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
				
<mapper namespace="PurchaseMapper">

  	<resultMap type="purchase" id="purchaseSelectMap">
  		<!-- <result property="buyer.userId"				column="buyer_id"			jdbcType="VARCHAR"/>
  		<result property="purchaseProd.prodName"	column="prod_name"			jdbcType="VARCHAR"/>
  		<result property="purchaseProd.prodNo"		column="prod_no"			jdbcType="INTEGER"/> -->
  		<result property="divyAddr"					column="dlvy_addr"			jdbcType="VARCHAR"/>
  		<result property="divyDate"					column="dlvy_date"			jdbcType="DATE"/>
  		<result property="divyRequest"				column="dlvy_request"		jdbcType="VARCHAR"/>
  		<result property="orderDate"				column="order_date"			jdbcType="DATE"/>
  		<result property="paymentOption"			column="payment_option"		jdbcType="CHAR"/>
  		<result property="receiverName"				column="receiver_name"		jdbcType="VARCHAR"/>
  		<result property="receiverPhone"			column="receiver_phone"		jdbcType="DATE"/>
  		<result property="tranCode"					column="tran_status_code"	jdbcType="CHAR"/>
  		<result property="amount"					column="amount"				jdbcType="INTEGER"/>
  		<result property="tranNo"					column="tran_no"			jdbcType="INTEGER"/>
  		<result property="rowNum"					column="row_num"			jdbcType="VARCHAR"/>
  		<result property="reviewGrade"				column="grade"				jdbcType="NUMERIC"/>
  		<association property="purchaseProd" resultMap="productSelectMap"/>
  		<association property="buyer" javaType="user">
  			<result property="userId" column="buyer_id"/>
  		</association>
  	</resultMap>
  	
  	<resultMap type="product" id="productSelectMap">
  		<result property="prodNo"	column="prod_no" 	jdbcType="INTEGER"/>
  		<result property="prodName"	column="prod_name" 	jdbcType="VARCHAR"/>
  	</resultMap>
  	
  	<insert id="addPurchase" parameterType="purchase">
  		INSERT 
  		INTO transaction(	buyer_id,
  							dlvy_addr,
  							dlvy_date,
  							dlvy_request,
  							order_date,
  							payment_option,
  							prod_no,
  							receiver_name,
  							receiver_phone,
  							tran_status_code,
  							amount,
  							tran_no ) 
  		VALUES(	#{buyer.userId:VARCHAR},
  				#{divyAddr:VARCHAR},
  				TO_DATE(#{divyDate:VARCHAR}),
  				#{divyRequest:VARCHAR},
  				SYSDATE,
  				#{paymentOption:CHAR},
  				#{purchaseProd.prodNo:INTEGER},
  				#{receiverName:VARCHAR},
  				#{receiverPhone:VARCHAR},
  				1,
  				#{amount:INTEGER},
	  			seq_transaction_tran_no.NEXTVAL	) 
  	</insert>
  	
  	<select id="getPurchase" parameterType="int" resultMap="purchaseSelectMap">
  		SELECT
  		buyer_id,dlvy_addr,dlvy_date,dlvy_request,order_date,payment_option,prod_no,receiver_name,
  		receiver_phone,tran_status_code,amount,tran_no
  		FROM transaction
  		<where>
  			tran_no = #{tranNo}
  		</where>
  	</select>
  	
  	<update id="updatePurchase" parameterType="purchase">
  		UPDATE transaction
  		<set>
  			payment_option = #{paymentOption:CHAR},
  			receiver_name = #{receiverName:VARCHAR},
  			receiver_phone = #{receiverPhone:VARCHAR},
  			dlvy_addr = #{divyAddr:VARCHAR},
  			dlvy_request = #{divyRequest:VARCHAR},
  			<if test="divyDate!=null and divyDate!=''">
  				dlvy_date = TO_DATE(#{divyDate:VARCHAR}),
  			</if>
  		</set>
  		<where>
  			tran_no = #{tranNo}
  		</where>
  	</update>
  	
  	<update id="updateTranCode">
  		UPDATE transaction
  		<set>
  			tran_status_code = #{tranCode}
  		</set>
  		<where>
  			tran_no = #{tranNo}
  		</where>
  	</update>
  	
  	<sql id="getPurchaseListSql">
  		SELECT
  		t.buyer_id,t.dlvy_addr,t.dlvy_date,t.dlvy_request,t.order_date,t.payment_option,t.prod_no,t.receiver_name,
  		t.receiver_phone,t.tran_status_code,t.amount,t.tran_no,p.prod_name,r.grade
  		FROM transaction t, product p, review r
  		<where>
  			<if test="userId != null and userId!=''">
  				buyer_id = #{userId}
  			</if>
  			<if test="search.tranCondition!=null and search.tranCondition!=''">
  				AND tran_status_code = RPAD(#{search.tranCondition},3,' ')
  			</if>
  			<if test="search.searchKeyword!=null and search.searchKeyword!=''">
  				AND 
  				<choose>
  					<when test="search.searchCondition==0">
  						buyer_id = 
  					</when>
  					<when test="search.searchCondition==1">
  						prod_no = 
  					</when>
  				</choose>
  				#{search.searchKeyword}
  			</if>
  			AND t.prod_no = p.prod_no
  			AND t.tran_no = r.tran_no(+)
  		</where>
  		ORDER BY order_date DESC
  	</sql>
  	
  	<select id="getTotalCount" parameterType="map" resultType="int">
  		SELECT COUNT(*) FROM (
  		<include refid="getPurchaseListSql"/>
  		)
  	</select>
  	
  	<select id="getPurchaseList" parameterType="map" resultMap="purchaseSelectMap">
  		SELECT * FROM (
  			SELECT ROWNUM row_num, vt.* FROM (
  				<include refid="getPurchaseListSql"/>
  			) vt
  			WHERE ROWNUM &lt;= #{search.currentPage}*#{search.pageSize}
  		)
  		<where>
  			row_num >= ((#{search.currentPage}-1)*#{search.pageSize}+1)
  		</where>
  	</select>
  	
</mapper>