<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
				
<mapper namespace="ReviewMapper">

  	<resultMap type="com.model2.mvc.service.domain.Review" id="ReviewSelectMap">
 		<result property="tranNo"			column="tran_no"		jdbcType="INTEGER"/>
  		<result property="prod.prodNo"		column="prod_no"		jdbcType="INTEGER"/>
  		<result property="prod.prodName"	column="prod_name"		jdbcType="INTEGER"/>
  		<result property="prod.prodDetail"	column="prod_detail"	jdbcType="INTEGER"/>
  		<result property="prod.fileName"	column="prod_image"		jdbcType="INTEGER"/>
  		<result property="userId"			column="user_id"		jdbcType="VARCHAR"/>
  		<result property="fileName"			column="image_file"		jdbcType="VARCHAR"/>
  		<result property="grade"			column="grade"			jdbcType="NUMERIC"/>
  		<result property="detail"			column="detail"			jdbcType="VARCHAR"/>
  		<result property="reviewDate"		column="review_date"	jdbcType="DATE"/>
  		<result property="rowNum"			column="row_num"		jdbcType="VARCHAR"/>
  	</resultMap>
  	
  	<insert id="addReview" parameterType="review">
  		INSERT
  		INTO review(tran_no,prod_no,user_id,image_file,grade,detail,review_date)
  		VALUES(	#{tranNo}, 
  				#{prod.prodNo}, 
  				#{userId}, 
  				#{fileName:VARCHAR}, 
  				#{grade}, 
  				#{detail}, 
  				SYSDATE	)
  	</insert>
  	
  	<select id="getReview" parameterType="int" resultMap="ReviewSelectMap">
  		SELECT r.tran_no, r.prod_no, r.user_id, r.image_file, r.grade, r.detail, r.review_date, p.prod_name, p.prod_detail, p.image_file AS prod_image
  		FROM review r, product p
  		<where>
  			tran_no = #{tranNo}
  			AND r.prod_no = p.prod_no
  		</where>
  	</select>
  	
  	<update id="updateReview" parameterType="review">
  		UPDATE review
  		<set>
  			image_file = #{fileName},
  			grade = #{grade},
  			detail = #{detail}
  		</set>
  		<where>
  			tran_no = #{tranNo}
  		</where>
  	</update>
  	
  	<delete id="deleteReview" parameterType="int">
  		DELETE review
  		<where>
  			tran_no = #{tranNo}
		</where>
  	</delete>
  	
  	<sql id="getReviewListSql">
  		SELECT r.tran_no, r.prod_no, r.user_id, r.image_file, r.grade, r.detail, r.review_date, p.prod_name, p.prod_detail, p.image_file AS prod_image
  		FROM review r, product p
  		<where>
  			<if test="prodNo!=null">
  				AND r.prod_no = #{prodNo}
  			</if>
  			<if test="userId!=null">
  				AND user_id = #{userId}
  			</if>
  			AND r.prod_no = p.prod_no
  		</where>
  		ORDER BY 
  		<if test="search.searchCondition!=null">
  			<choose>
  				<when test="search.searchCondition==0">review_date DESC</when>
  				<when test="search.searchCondition==1">grade DESC, review_date DESC</when>
  				<when test="search.searchCondition==2">grade ASC, review_date DESC</when>
  				<otherwise>review_date DESC</otherwise>
  			</choose>
  		</if>
  		<if test="search.searchCondition==null">review_date DESC</if>
  	</sql>
  	
  	<select id="getTotalCount" parameterType="map" resultType="int">
  		SELECT COUNT(*) FROM (
  		<include refid="getReviewListSql"/>
  		)
  	</select>
  	
  	<select id="getReviewList" parameterType="map" resultMap="ReviewSelectMap">
  		SELECT * FROM (
  			SELECT ROWNUM row_num, vt.* FROM (
  				<include refid="getReviewListSql"/>
  			) vt
  			WHERE ROWNUM &lt;= #{search.currentPage}*#{search.pageSize}
  		)
  		<where>
  			row_num >= ((#{search.currentPage}-1)*#{search.pageSize}+1)
  		</where>
  	</select>
  	
</mapper>