<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
				
<mapper namespace="UploadFileMapper">

  	<resultMap type="file" id="fileResultMap">
		<id property="refKey" 			column="ref_key" 		jdbcType="NUMERIC"/>
		<result property="fileName" 		column="file_name" 		jdbcType="VARCHAR"/>
		<result property="originalFileName"	column="original_name" 	jdbcType="VARCHAR"/>
		<result property="path" 			column="path" 			jdbcType="VARCHAR"/>
		<result property="size" 			column="file_size" 		jdbcType="NUMERIC"/>
		<result property="imageType" 		column="image_type" 	jdbcType="NUMERIC"/>
		<result property="target" 			column="target" 		jdbcType="VARCHAR"/>
  	</resultMap>
  	
  	<insert id="addFile" parameterType="file">
  		INSERT
  		INTO files(ref_key, file_name, original_name, path, file_size, image_type, target)
  		VALUES(	
  				<if test="refKey==0">seq_product_prod_no.CURRVAL</if>
  				<if test="refKey!=0">#{refKey}</if>,
  				#{fileName:VARCHAR},
  				#{originalFileName:VARCHAR},
  				#{path:VARCHAR},
  				#{size:INTEGER},
  				#{imageType:VARCHAR},
  				#{target:VARCHAR}
  				)
  	</insert>
  	
  	<delete id="deleteFile" parameterType="list">
  		DELETE files
  		WHERE file_name IN
  		<foreach collection="list" open="(" separator="," close=")" item="fileName">
  		#{fileName}
  		</foreach>
  	</delete>
  	
</mapper>